*.class
.idea
*.iml
target/
node_modules/
bower_components/
classpath.txt
logs/

# Production secrets and SSL certificates
.env.production
certbot/bin/

#eclipse ide files
.classpath
.project
.settings/
dependency-reduced-pom.xml


# Added by Reorganization
logs/
*.log
database/integrity_check.sql
database/user_notes.sql
