services:
- type: pserv
  name: budgetapp-db
  plan: free

- type: web
  name: budgetapp
  runtime: docker
  plan: free
  dockerfilePath: ./Dockerfile
  healthCheckPath: /healthcheck
  envVars:
  - key: DB_DRIVER
    value: org.postgresql.Driver
  - key: DB_DIALECT
    value: org.hibernate.dialect.PostgreSQL95Dialect
  - key: DB_URL
    fromDatabase:
      name: budgetapp-db
      property: connectionString
  - key: DB_USERNAME
    fromDatabase:
      name: budgetapp-db
      property: user
  - key: DB_PASSWORD
    fromDatabase:
      name: budgetapp-db
      property: password
  - key: DB_VALIDATE_QUERY
    value: SELECT 1
  - key: JAVA_OPTS
    value: -Xmx400m -Xms200m
  autoDeploy: true
