<section class="content-header">
    <h1>Help</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About Budget App</h3>
                </div>
                <div class="box-body">
                    <p>
                        Budget App is an open source personal finance application.
                    </p>
                    <p>
                        For more information, please visit <a href="https://budgetapp.docsapp.io/">documentation</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>